<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><a href="/circle">Circle</a></li>
      <li><a href="/triangle">Triangle</a></li>
    </ul>
    <h1>Triangle Calculator</h1>
    <form action="/triangle" method="post">
      <div>
        <label for="height">Enter Height:</label>
        <input type="text" name="height" />
      </div>
      <div>
        <label for="base">Enter Base:</label>
        <input type="text" name="base" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
